<template name="sidebar">
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/home" class="brand-link">
      <!-- <img src="/dist/img/AdminLTELogo.png" alt="" class="brand-image img-circle elevation-3"
           style="opacity: .8"> -->
      <span class="brand-text font-weight-light">MakerDevs.com</span>
    </a>

    <div class="sidebar">

      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="/mz/master-list" class="nav-link {{isActivePath class='active' path='/mz/master-list'}}">
            <i class="nav-icon fas fa-plug"></i>
            <p>
              MZ Plugins
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/mv/master-list" class="nav-link {{isActivePath class='active' path='/mv/master-list'}}">
            <i class="nav-icon fas fa-cogs"></i>
            <p>
              MV Plugins
            </p>
          </a>
        </li>

        {{#if currentUser}}
          <li class="nav-item">
            <a href="/me" class="nav-link {{isActivePath class='active' path='/me'}}">
              <i class="nav-icon fas fa-user-circle"></i>
              <p>
                Profile
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/plugin/submit" class="nav-link {{isActivePath class='active' path='/plugin/submit'}}">
              <i class="nav-icon fas fa-calendar-plus"></i>
              <p>
                Submit New Plugin
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link {{isActivePath class='active' path='/logout'}}">
              <i class="nav-icon fas fa-sign-out-alt"></i>
              <p>
                Logout
              </p>
            </a>
          </li>
        {{else}}
          <li class="nav-item">
            <a href="/login" class="nav-link {{isActivePath class='active' path='/login'}}">
              <i class="nav-icon fas fa-user"></i>
              <p>
                Sign In
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/register" class="nav-link {{isActivePath class='active' path='/register'}}">
              <i class="nav-icon fas fa-user-plus"></i>
              <p>
                Register
              </p>
            </a>
          </li>

        {{/if}}

      </ul>



    </div>


  </aside>
</template>