<template name="about">

<p>This site is an attempt to create a common platform for all plugin developers of RPG Maker.</p>
<p>Our goal is to provide to all the people a common place.</p>

<p>At the moment, this site is mantained by this four people:</p>

<ul>
<li>Dekita</li>
<li>Hudell</li>
<li>Zalerinian</li>
<li>Ramiro</li>
</ul>

<p>If you need something, or want to give some feedback please feel free to contact us. </p>
<p>We love the idea to improve this to make it a great place to search for plugins.</p>


<h3>Changelog</h3>

<h4>v0.2.0 - Running since November 7th, 2015, 2:30am EST (UTC - 5)!</h4>

<ul>
  <li>Password resets have been added! Sorry this took so long ^^;</li>
  <li>Profiles have been completely redesigned!</li>
  <li>User Avatars are still based on Gravatar (no way to upload your own at the momeny, sorry)!</li>
  <li>We've got a nice Favicon!</li>
  <li>The icon for no user profile has been changed to a silhouette of our favicon!</li>
  <li>Added the changelog (I almost forgot this one, as I made the changelog)!</li>
</ul>

<div style="float:right; font-weight: strong">~Z</div>

<h4>v0.1.0 - The original beta version (ewwww)!</h4>

We were put online! That's pretty cool!

<div style="float:right; font-weight: strong">~Z</div>

</template>