<template name="about">

<p>This site is a common platform where all plugin developers of RPG Maker can share their creations.</p>

<p>At the moment, this site is mantained by this four people:</p>
<ul>
<li>Dekita</li>
<li>Hudell</li>
<li>Zalerinian</li>
<li>Ramiro</li>
</ul>

<p>We love the idea to improve this to make it a great place to search for plugins.</p>

<h4>Contributing</h4>

<p>If you find any problems, need something or want to give some feedback, you can do so on the project's <a href="https://github.com/Hudell/makerdevs.com">GitHub respository</a>, or contact one of us directly.</p>


<h4>Donating</h4>

<p>If you would like to support the website, you can donate to <a href="https://www.patreon.com/hudell/creators">Hudell's patreon</a>.</p>


</template>