<template name="about">

<p>This site is an attempt to create a common platform for all plugin developers of RPG Maker.</p>
<p>Our goal is to provide to all the people a common place.</p>

<p>At the moment, this site is mantained by this four people:</p>

<ul>
<li>Dekita</li>
<li>Hudell</li>
<li>Zalerinian</li>
<li>Ramiro</li>
</ul>

<p>If you need something, or want to give some feedback please feel free to contact us. </p>
<p>We love the idea to improve this to make it a great place to search for plugins.</p>

</template>