<template name="profile">
  {{#if isValid}}
    {{#if isLoaded}}
      <div class="card card-success">
        <div class="card-body">

          <h3 class="">
            <img src="{{user.avatar}}" class="user-image img-circle elevation-2" alt="User Image">
            <span class="ml-4">
            {{user.name}}
            </span>
          </h3>

          <p></p>
          <div class="">
          {{#if currentUser}}
              <a class="btn btn-outline-primary {{#if liked}}btn-info{{/if}} like-btn">
                <i class="fa fa-thumbs-up"></i> Like{{#if liked}}d{{/if}}
              </a>

              {{#if canReview}}
                <a class="btn btn-outline-primary review-btn">
                  <i class="fa fa-comment"></i> Review
                </a>
              {{/if}}
              {{#if canEdit}}
                <a class="btn btn-outline-primary edit-btn">
                  <i class="fa fa-edit"></i> Edit
                </a>
                <a class="btn btn-outline-primary change-password-btn">
                  <i class="fa fa-key"></i> Change Password
                </a>
              {{/if}}
          {{/if}}

          {{#if user.donationUrl}}
            <a class="btn btn-outline-primary btn-warning donate-btn">
              <i class="fa fa-wallet"></i> Donate
            </a>
          {{/if}}

          </div>

          {{#if likeCount}}
            <p class="text-muted mt-2">
              {{#if singleLike}}
              Liked by <span class="red">1</span> user.
              {{else}}
              Liked by <span class="red">{{likeCount}}</span> users.
              {{/if}}
            </p>
          {{/if}}

          <hr/>

          <p class="mt-2">
            {{#markdown}}{{user.about}}{{/markdown}}
          </p>
        </div>
      </div>

      <div class="row">
        {{#each user.plugins}}
          {{> pluginCard}}
        {{/each}}
      </div>
    {{else}}
      <div class="overlay text-center">
        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
      </div>
    {{/if}}
  {{/if}}
</template>