<template name="resetPassword">
  <div class="login-box-container">
    <div class="login-box">
      <div class="card">
        <div class="card-body reset-password-card-body">
          <form method="post">
            <p>Please, enter the email address of your account:</p>
            <div class="input-group mb-3">
              <input type="email" class="form-control" id="userEmail">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <button type="submit" class="btn btn-primary btn-block">Send password reset request</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>